// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-size: 40% !important;
  background-position: right center;
  background-repeat: no-repeat;
  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 2rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3rem;
    }
  }
}


.sticky-left{
  position: fixed;
  left: 10px;
  top: 35%;
  bottom: 0px;
  li{
    list-style: none;
    padding: 8px 10px;
  }
}

.greybg-left{
  background: url(../images/grey-bg.png);
  width: 64%;
  height: 600px;
  position: absolute;
  left: -460px;
  top: 170px;
  z-index: -1;
  background-repeat: no-repeat;
}

.greybg-right{
  background: url(../images/grey-bg.png);
  width: 64%;
  height: 750px;
  position: absolute;
  right: -480px;
  top: -197px;
  z-index: -1;
  background-repeat: no-repeat;


}

.icon-image{
  width: 80px;
  height: 90px;
  padding: 10px;
  margin: auto;
  transition: 0.5s ease all;
}

h4{
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}


.service-list{
  color: #000;
  h5{
    font-size: 15px;
    &:before{
      content: ' ';
      position: absolute;
      width: 1px;
      height: 130px;
      background: #fff;
      top: -143px;
      left: 110px;
      z-index: 1;
    }
  }
  .s-block{
    background: #f7f7f7;
    padding: 40px 10px;
    text-align: center;
    margin-bottom: 30px;
    color: #000;

  h6{
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 16px;
  }
  }
}


.casestudy-slider{
  h3{
    font-size: 24px;
    margin-bottom: 0px;
  }
  h5{
    font-size: 16px;
    padding-right: 40px;
    line-height: 21px;
  }
}

.testimonials{
  padding-top: 60px;
  padding-bottom: 60px;
  h1{
    font-size: 18px;
    padding-left: 50px;
  }

  .line{
    width: 200px;
    height: 0;
    position: relative;
    top: -6px;
    display: inline-block;
    border-top: 1px solid #323232;
  }
}



.banner{
  margin:auto;
  width: 100%;
  .slide-image{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1{
    font-size: 50px;
    font-weight: 600;
  }
  p{
    font-size: 20px;
    font-weight: 400;
  }
  .banner-text{
    position: absolute;
    top: 40%;
    z-index: 100;
    margin-left: 84px;
  }
}


.inner-banner{
  margin: auto;
  width: 100%;
  .breadcrumb li{
    color: #fff;
    position: relative;
    margin-right: 70px;
    display: inline-block;
  }
  .breadcrumb li:before{
    content: ' ';
    left: 47px;
    bottom: 0;
    height: 10px;
    top: 11px;
    position: absolute;
    width: 57px;
    border-top: 1px solid #eee;
  }
  .breadcrumb li:last-child{
    &:before{
      position: relative;
    }
  }
  h1{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
  }
  .banner-text{
    position: absolute;
    top: 180px;
    z-index: 100;
    margin-left: 84px;
    .region-breadcrumb{
      padding-left: 3px;
    }
  }
  .breadcrumb{
    background: none;
    padding: 0px;
    a{
      color: #fff;
      border: none;
    }
  }


  .slide-image{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.second-swipper{
  width: 100%;
  position: relative;
  top: -60px;
  .btn-primary {
    background-color: transparent !important;
    border-color: #ffffff !important;
    border: 1px solid #eee !important;
    border-radius: 0px !important;
    padding: 10px 28px !important;
    font-size: 12px !important;
    letter-spacing: 3px !important;
  }
  .swiper-container{
    overflow: initial !important;
  }
  .swiper-slide{
    background: #eee;
    padding: 39px;
    color: #000;
    height: 480px;
  }
  h1{
    font-size: 30px;
    padding-right: 30px;
  }
  p{
    font-size: 14px;
  }
  img{
    margin-top: -100px;
    width: 100%;
  }

}



.section-client-top{
  background: #fff;
  padding-top: 150px;
  position: relative;
  margin-top: -150px;
  z-index: -1;
}

.footer-bottom{
  padding-top: 80px;
  padding-bottom: 40px;
  color: #eee;
  background: #000;
  h3{
    font-size: 16px;
  }
  p{
    font-size: 13px;
  }
  ul{
    list-style: none;
    font-size: 14px;
  }
  .btn{
    background: #de2d00;
    margin-top: 28px;
    padding: 10px 61px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
  }
  .social-media-block{
    img{
      margin: 10px;
    }
  }
}

.intro-section{
  color: #fff;
  padding: 10px 10px;
  h1{
    padding-top: 62px;
    font-size: 32px;
  }
}

.content-section{
  color: #fff;
  padding: 10px 10px;
  h3{
    font-size: 26px;
  }
  p{
    font-size: 14px;
  }
}

.experience{
  width: 100%;
  .exp-bg{
    background-size: 100%;
    height: 380px;
  }
  h2{
    padding-top: 150px;
    color: #fff;
  }
  .btn{
    border: 1px solid #eee;
    padding: 7px 30px;
    border-radius: 0px;
    margin-top: 10px;
    color: #fff;
  }
}


.block .content {
  margin-top: 0px;
}

.contact-page{
  padding: 40px;
  input{
    background: none;
    border: 0px;
    border-bottom: 1px solid #eee;
  }
  h3{
    padding-bottom: 10px;
  }
  .btn{
    background: #fff;
    border-radius: 30px;
    margin-top: 30px;
    padding: 10px 47px;
    color: #000;
  }
}

.footer{
  background: #000;
}





$primary-color: #38C5B9;

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}




.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  @include easeOut;

  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    @include easeOut;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);

    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &--active {
    visibility: visible;
  }

  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $primary-color, 20);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__brand {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__item {
    transform: translate3d(500px, 0, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include easeOut;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      @include easeOut;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

// responsive tablet view
@include tablet {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu__list {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .logo {
      width: 90px;
      height: 90px;
    }
  }
}

// make the demo look nice, not required for your own use.
.logo {
  width: 200px;
  height: 200px;
  background: lighten(black, 10);
  border-radius: 50%;
}


main {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8vw;

  h1 > a {
    color: white;
    text-decoration: none;
    font-size: 48px;
    font-weight: 300;
  }
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(black, 0.6);
}




































