// Styling for the services section
.service-box {
  max-width: 400px;
}


.layout-intro{
  h2{
    color: #ccc;
    font-size: 24px;
    font-weight: 600;
  }
  .body{
    max-width: 70%;
    margin: auto;
  }
}
